*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

#dvMain{

}
.nav-link{
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgb(48, 47, 47);
    color: white;
}
.nav-link:focus, .nav-link:hover{
    color: rgb(168, 168, 168);
}
img{
    height: 100vh;
    width: 100%;
}
.textMid{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
#colMain{
    position: relative;
}
#Img2{
    height: 400px;
}
.bg-primary{
    background-color: #182942!important;
}
.pDescp{
    background-color: rgba(0, 0, 0, 0.322);
}
.imgLogos{
    height: 200px;
}